h1 {
    font-family: 'Raleway', sans-serif;
    font-size:50px;
    margin-bottom: 50px;
}
h4 {
    font-size: 40px;
}
#discussion {
    height: 400px;
    border-style: solid;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: scroll;
}
#user {
    height: 400px;
    border-style: solid;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 1200px) {
    #user, #online {
        display:none;
    }
}



#text {
    width: 100%;
    height: 34px;
}
#send {
    width: 100%;
    height: 100%;
}
@media(max-width: 1200px) {
    #send {
        width: 40%;
    }
}
@media(max-width: 350px) {
    #send {
        width: 100%;
    }
}

#buttonLogOut {
    
    float: left;
    padding-left: -10px;
}
#online {
   text-align:center;
}
#form {
    margin-bottom: 2%;
}


.container{
    margin-top: 30px;
}
.row {
    margin-top: 30px;
}
.chat {
    padding: 0 0 0 0px;
    /*padding-bottom: 10px;*/
    margin: 0 0 0 0px;
    
}